#back-button {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 100px;
    border: solid;
}

#back-button:hover{
    background-color: red;
    color: white;
    border-color: white;
}

#subtitle {
    text-align: center;
    color: red;
}

#topic {
    text-decoration: underline;
    color: red;
}
